{% extends '../dashboard_base.html' %}{# in this Line, Parent of this Page will Define! #}
{% load static %}
{% block bodycontent %}
{% include "../../dashboard_pages/blocks/form/block_new_form.html" %}
{% endblock bodycontent %}
{% block c-script %}
<script type="text/javascript">
         $(document).on('submit','#add_new_block',function (e) {
        e.preventDefault();
        $.ajax({
            type:'POST',
            url: '{% url "building:new_block_page" %}',
{#            dataType: 'json',#}
{#            contentType: 'application/json; charset=utf-8',#}
            data:{
                name:$('#id_name').val(),
                residence: $('#id_residence').val(),
                number_of_floors:$('#id_number_of_floors').val(),
                number_of_units:$('#id_number_of_units').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
            success:function(data) {
                $("#new_block_message").html("<div class='alert alert-success'><a class='close' href='#' data-dismiss='alert'>×</a>Item added successfully!</div>");
            },
            error: function(data) {
                $("#new_block_message").html("<div class='alert alert-danger'><a class='close' href='#' data-dismiss='alert'>×</a>something is Wrong!</div>");
            }
        });
    });
    </script>
{% endblock c-script %}