{% extends '../../dashboard_base.html' %}{# in this Line, Parent of this Page will Define! #}
{% load static i18n define_action %}
{% block HeadOfFile %}
{% endblock HeadOfFile %}
{% block bodycontent %}
    <div id="new_expense_message"></div>
    <form class="form-horizontal" id='new_expense'>

        {% csrf_token %}
        {% include "../../../dashboard_pages/budget/expense/form/expense_form.html" %}
          <div class="row">
            <div class="col-lg-12">
                <!-- Editable table -->
                <div class="card">
                    <div class="c-card-header">
                        <strong>{% trans 'expense Target' %}</strong></div>
                    <div class="card-body">
                        <div id="table" class="table-editable">
                            <span class="table-add float-right mb-3 mr-2"><button onclick="add_new_row()" class="btn btn-info cil-plus"
                                                                                  id="addrow"
                                                                                  type="button"></button></span>
                            <table id="dataTable"
                                   class="dataTable table table-bordered table-responsive-md table-striped text-center">

                                <thead>
                                <th>{% trans 'Target Type' %}</th>
                                <th>{% trans 'Target name' %}</th>

                                <th>{% trans 'َAction' %}</th>
                                </thead>
                                <tbody id="tbody" class="center">

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="c-card-footer">
                        <input class="btn btn-lg btn-primary" id="expense_btn" value="{% trans 'Submit' %}" type="submit"></input>
                    </div>
                </div>
                <!-- Editable table -->
            </div>
        </div>
    </form>

{% endblock bodycontent %}
{% block c-script %}
{#    insert new expense#}
    <script type="text/javascript">
        $(document).on('submit', '#new_expense', function (e) {
                e.preventDefault();
        var target_data = $('table.dataTable tr').length;
        var item;
        let target_list = [];
        for (item = 1; item < target_data; item++) {

            target_list.push({

                'content_type': $('#id_target_type' + item).val(),
                'object_id': $('#id_target_name' + item).val(),

            });
        }
        $.ajax({
            method: 'POST',
            url: '{% url "building:budget-list" %}',
            dataType: 'json',
            data:{
                "title": $('#id_title').val(),
                "period": $('#id_period').val(),
                "start_at": $('#id_start_at').val(),
                "deadline_in_days": $('#id_deadline_in_days').val(),
                "finish_at": $('#id_finish_at').val(),
                "budget_class":"EXPENSE",
                "due_at": $('#id_due_at').val(),
                "price": $('#id_price').val(),
                "price_formula": $('#id_price_formula').val(),
                "parameters": $('#id_parameters').val(),
                'accounting_targets':JSON.stringify(target_list),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success:function(data) {
                $("#new_expense_message").html("<div class='alert alert-success'><a class='close' href='#' data-dismiss='alert'>×</a>{% trans 'Item added successfully!' %}</div>");
            },
            error: function(data) {
                $("#new_expense_message").html("<div class='alert alert-danger'><a class='close' href='#' data-dismiss='alert'>×</a>{% trans 'something is Wrong!' %}</div>");
            }
        });
    });
    </script>
    <script type="text/javascript">
        var selectedCountry;
      function add_new_row() {
            var counter = $('table.dataTable tr').length;
            var newRow = jQuery("<tr>");
            var cols = "";

            cols += '<td ><label for="id_target_type' + counter + '"></label>' +
                '<select class="form-control first-select" id="id_target_type' + counter + '" name="target_type' + counter + '" >' +
                '<option value="residence" >residence</option>' +
                '<option value="block" >block</option>' +
                '<option value="unit" >unit</option></select></td>';

            cols += '<td><label for="id_target_name' + counter + '"></label><select class="second-select form-control" id="id_target_name' + counter + '" name="target_name' + counter + '" >' +


                '</select></td>';
            cols += '<td><button class="ibtnDel btn btn-danger cil-trash"></button></td>';
            newRow.append(cols);
            jQuery("table.dataTable").append(newRow);
            counter++;
        }
            jQuery(document).ready(function () {
                jQuery("table.dataTable").on("click", ".ibtnDel", function (event) {
                jQuery(this).closest("tr").remove();

        });
        });
{#choose second field atomatically by click on first select input#}
    $('table.dataTable').on('change','.first-select',function(){
        var val_type = jQuery(this).val();
        if(val_type == "residence") {
            $(this).closest('tr').find('select.second-select').empty().append('' +
                '{% for target in residences %}'+
                    '<option value="{{ target.id }}" >{{ target.name }}</option>' +
                    '{% endfor %}');

        }if(val_type == "block") {
            $(this).closest('tr').find('select.second-select').empty().append(''+
             '{% for target in blocks %}'+
                '<option value="{{ target.id }}" >{{ target.name }}</option>' +
                     '{% endfor %}');

        }if(val_type == "unit") {
            $(this).closest('tr').find('select.second-select').empty().append('' +
             '{% for target in units %}'+
                '<option value="{{ target.id }}" >{{ target.name }}</option>' +
                     '{% endfor %}');

        }
  });
    </script>
{% endblock c-script %}