{% extends '../../dashboard_base.html' %}{# in this Line, Parent of this Page will Define! #}
{% load static i18n %}
{% block bodycontent %}
    <!-- table section  -->
    <div class="row">
    <div class="card container">
        <div class="card-header"><h3>{% trans 'All Income' %}</h3></div>
  <div class="card-body">
      <!-- start table part -->
<p>
              <a class="btn btn-primary collapsed btn-block-add" href="{%  url 'building:new_income_page' %}">{% trans 'Add New Income' %}</a>
            <br/>
            </p>
      <table id="income_table"class="table table-responsive-sm table-hover table-outline mb-0">
  <thead class="thead-light">
    <tr>
      <th scope="col">id</th>
      <th scope="col">title</th>
      <th scope="col">period</th>
      <th scope="col">start at</th>
      <th scope="col">dead line(days)</th>
      <th scope="col">due at</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% if data %}
   {% for income in data %}
    <tr id="income_{{ income.id }}">
      <th scope="row">{{ income.id }}</th>
      <td>{{ income.title }}</td>
      <td>{{ income.period }}</td>
      <td>{{ income.start_at }}</td>
      <td>{{ income.deadline_in_days }}</td>
      <td>{{ income.due_at }}</td>
         <td><a class="btn btn-success" href="{% url "building:show_income_page" id=income.id %}" title="{% trans 'show' %}">
        <svg class="c-icon">
        <use href="{% static '@coreui/icons/sprites/free.svg#cil-magnifying-glass' %}"></use>
        </svg></a>&nbsp;<a class="btn btn-info"  title="{% trans 'edit' %}" href='{% url "building:edit_income_page" id=income.id %}'>
        <svg class="c-icon">
        <use href="{% static '@coreui/icons/sprites/free.svg#cil-description' %}"></use>
        </svg></a>&nbsp;<button class="btn btn-danger" alt="delete" onclick="delete_item('{% url "building:income-detail" income.id %}',{{ income.id }})">
        <svg class="c-icon">
        <use href="{% static '@coreui/icons/sprites/free.svg#cil-trash' %}"></use>
        </svg></button></td>
    </tr>
  {% endfor %}
    {% else %}
        <tr><td class="text-center" colspan="100%">
            No Income ...
        </td></tr>
            {% endif %}
  </tbody>
</table><hr/>
      <!-- Pagination -->
      <nav aria-label="Page navigation example">
<ul class="pagination justify-content-center">
<li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
<li class="page-item"><a class="page-link" href="#">1</a></li>
<li class="page-item"><a class="page-link" href="#">2</a></li>
<li class="page-item"><a class="page-link" href="#">3</a></li>
<li class="page-item"><a class="page-link" href="#">Next</a></li>
</ul>
</nav>
    </div>
    </div>
    </div>
{% endblock bodycontent %}
{% block c-script %}

{% endblock c-script %}
