{% extends '../../dashboard_base.html' %}{# in this Line, Parent of this Page will Define! #}
{% load static i18n %}
{% block bodycontent %}
    <div id="new_income_message"></div>
    {#    {{ request_type }}#}
    {% if request_type == 'edit' %}
        <form class="form-horizontal" id='edit_income'>
        {#    {% elif request_type == 'new' %}#}
        {#        <form class="form-horizontal" id='new_block'>#}
    {% else %}
        <form class="form-horizontal" id='show_income'>
    {% endif %}

{% csrf_token %}
{% include "../../../dashboard_pages/budget/income/form/income_form.html" %}
</form>

{% endblock bodycontent %}
{% block c-script %}
    {% if request_type == 'show' %}
        <script type="text/javascript">
            $('#show_income input').attr('disabled', true);
            $('#show_income textarea').attr('disabled', true);
            $('#show_income select').attr('disabled', true);
            $('#show_income #unit_income_btn').attr('type', 'submit').remove();

        </script>
    {% endif %}
    <script type="text/javascript">

        {#    if (request_type == 'edit'){#}
        $(document).on('submit', '#edit_income', function (e) {
            e.preventDefault();
            // or display message in form, etc...
            $.ajax({
                type: 'PUT',
                url: '{% url "building:income-detail" unit_income.id %}',
                dataType: 'json',
                {#            contentType: 'application/json; charset=utf-8',#}
                data: {
                    'unit':$('#id_unit').val(),
                    'income':$('#id_income').val(),
                    'second_title': $('#id_second_title').val(),
                    'description': $('#id_description').val(),
                },
                success: function () {
                    $("#new_income_message").html("<div class='alert alert-success'><a class='close' href='#' data-dismiss='alert'>×</a>{% trans 'Item Edited successfully!' %}</div>");
                },
                error: function () {
                    $("#new_income_message").html("<div class='alert alert-danger'><a class='close' href='#' data-dismiss='alert'>×</a>{% trans 'something is Wrongs!' %}</div>");
                }
            });

        });
        {#    }#}
    </script>

{% endblock c-script %}