{% load static i18n %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="c-card-header">
                <strong>{% trans 'Bill info' %}</strong></div>
            <div class="c-card-body col-sm-7">
            <div class="form-group">
                    <label for="id_user_id">{% trans 'Select user' %}</label>
                    <select class="form-control" id="id_user_id" name="user_id">
                         {% for user in users %}
                                    <option name="{{ user.id }}"
                                            value="{{ user.id }}">{{ user.username }}</option>
                                {% endfor %}
                    </select>
                </div>
        <div class="form-group">
                            <label for="id_class">{% trans 'Class' %}</label>
                            <select class="form-control" id="id_class" name="class">
                                    <option name="income" value="income">INCOME</option>
                                    <option name="expense" value="expense">EXPENSE</option>
                            </select>
                        </div>
                    <div class="form-group">
                            <label for="id_type">{% trans 'Type' %}</label>
                            <select class="form-control" id="id_type" name="type">
                                    <option name="settlement_request" value="settlement_request">settlement_request</option>
                                    <option name="advertisement" value="advertisement">advertisement</option>
                                    <option name="request" value="request">request</option>
                                    <option name="budget" value="budget">budget</option>
                            </select>
                        </div>
            <div class="form-group">
                    <label for="id_due_at">{% trans 'Due at' %}</label>
                    <input type="datetime" class="form-control" id="id_due_at" value="{{ income.due_at }}" name="due_at"
                           required>
                </div>
               <div class="form-group">
                    <label for="id_price">{% trans 'Price' %}</label>
                    <input type="text" class="form-control" id="id_price" value="{{ income.price }}" name="price"
                           required>
                </div>
                    <div class="form-group">
                            <label for="id_currency">{% trans 'Currency' %}</label>
                            <select class="form-control" id="id_currency" name="currency">
                                    <option name="IRR" value="IRR">IRR</option>
                                    <option name="USD" value="USD">USD</option>
                                  
                            </select>
                        </div>
                    <div class="form-group">
                            <label for="id_status">{% trans 'Status' %}</label>
                            <select class="form-control" id="id_status" name="status">
                                    <option name="pending" value="pending">pending</option>
                                    <option name="confirmed" value="confirmed">confirmed</option>
                                    <option name="rejected" value="rejected">rejected</option>
                                    <option name="expired" value="expired">expired</option>
                            </select>
                        </div>
                <div class="form-group">
                    <label class="col-form-label" for="id_description">{% trans 'Description' %}</label>
                    <textarea class="form-control" id="id_description" name="description" rows="4"
                              placeholder="Description..." spellcheck="false">{{ bill.description }}</textarea>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="id_status_description">{% trans 'Status Description' %}</label>
                    <textarea class="form-control" id="id_status_description" name="status_description" rows="4"
                              placeholder="status description..." spellcheck="false">{{ bill.status_description }}</textarea>
                </div>


            </div>
            <div class="c-card-footer">
                <button class="btn btn-lg btn-primary" id="bill_btn" type="submit">{% trans 'Submit' %}</button>
            </div>
        </div>
    </div>
</div>
