{% extends '../dashboard_base.html' %}{# in this Line, Parent of this Page will Define! #}
{% load static i18n %}
{% block bodycontent %}
    <div id="new_residence_message"></div>
    {#    {{ request_type }}#}

        <form class="form-horizontal" id="{{ request_type }}_residence">


{% csrf_token %}

        {% include "../../dashboard_pages/residence/form/residence_form.html" %}
<div class="card-footer">
                        <input class="btn btn-lg btn-primary" id="residence_btn" value="{% trans 'Submit' %}" type="submit"></input>
                    </div>
    </div> </div>
</form>
        <!-- third part of form -->
        <div class="row">
            <div class="col-lg-12">
                <!-- Editable table -->
                <div class="card">
                    <div class="c-card-header">
                        <strong>{% trans 'Residence Facilities' %}</strong></div>
                    <div class="card-body">
                        <div id="table" class="table-editable">
                            <span class="table-add float-right mb-3 mr-2"><button class="btn btn-info cil-plus"
                                                                                 onclick="add_facility()" id="addrow"
                                                                                  type="button"></button></span>
                            <table id="dataTable"
                                   class="dataTable table table-bordered table-responsive-md table-striped text-center">

                                <thead>
                                <th>{% trans 'Facility' %}</th>
                                <th>{% trans 'Second Title' %}</th>
                                <th>{% trans 'Description' %}</th>
                                <th>{% trans 'Price' %}</th>
                                <th>{% trans 'Requestable' %}</th>
                                <th>{% trans 'َAction' %}</th>
                                </thead>
                                <tbody id="tbody" class="center">
                                {% for item in residence_facility %}
                                <tr id="facility_{{ item.id }}">
                                    <form class="residence_facility" id="residence_facility">
                                    {% csrf_token %}
                                    <td><label for="id_facility{{ item.id }}"></label>
                                        <select class="form-control" id="id_facility{{ item.id }}" name="facility{{ item.id }}" >
                                    {% for facility in facilities %}
                                    <option value="{{ facility.id }}" {% if facility.id == item.facility %}selected{% endif %}>{{ facility.title }}</option>
                                    {% endfor %}
                                    </select></td>
                                    <td><label for="id_second_title{{ item.id }}"></label><input type="text" class="form-control" value="{{ item.second_title }}" id="id_second_title{{ item.id }}" name="second_title{{ item.id }}" /></td>
                                    <td><textarea cols="30" rows="3" id="id_description{{ item.id }}" name="description{{ item.id }}" class="form-control">{{ item.description }}</textarea></td>
                                    <td><label for="id_price_{{ item.id }}"></label><input class="form-control" type="text" value="{{ item.price }}" id="id_price{{ item.id }}" name="price{{ item.id }}"></td>
                                    <td><label for="id_requestable{{ item.id }}" class="c-switch c-switch-label c-switch-pill c-switch-primary"><input class="c-switch-input" id="id_requestable{{ item.id }}" name="requestable{{ item.id }}" value="{{ item.requestable }}" type="checkbox" {% if item.requestable == True %}checked{% else %} {% endif %}><span class="c-switch-slider" data-checked="✓" data-unchecked="✕"></span></label></td>
{#                                    <input type="hidden" id="id_facility_residence" name="facility_residence" value="{{ item.id }}">#}
{#                                    <input type="hidden" id="id_residence" name="residence" value="{{ item.residence }}">#}
                                    <td><button class="ibtnDel btn btn-danger cil-trash" onclick="delete_item('{% url "building:facility-residence-detail" item.id %}',{{ item.id }})"></button></td>
                                    <td><button id="facility_btn" class="btn btn-primary cil-save" onclick="edit_facility_item('{% url "building:facility-residence-detail" item.id %}',{{ item.id }})" /></td>
                                 </form></tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <!-- Editable table -->
            </div>
        </div>


{% endblock bodycontent %}
{% block c-script %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="{% static 'js/residence/custom_js.js' %}"></script>
    {% if request_type == 'show' %}
        <script type="text/javascript">
            $('#show_residence input').attr('disabled', true);
            $('#show_residence textarea').attr('disabled', true);
            $('#show_residence select').attr('disabled', true);
            $('#show_residence checkbox').attr('disabled', true);
            $('#show_residence #residence_btn').attr('type', 'submit').remove();
            $('#addrow').remove();
            $('#tbody tr td textarea').attr('disabled', true);
            $('#tbody tr td input').attr('disabled', true);
            $('#tbody tr td select').attr('disabled', true);
            $('#tbody tr td checkbox').attr('disabled', true);
            $('#tbody tr td .c-switch-slider').attr('disabled', true);
            $('#tbody tr td button').attr('disabled', true);;
{#            $('#tbody tr td').attr('type', 'button').disabled();#}


        </script>
    {% endif %}

    {##############   start facility section ########################}
    <script type="text/javascript">
{#    edit facility in table row#}
    function edit_facility_item(url,id) {
        $.ajax({
            url: url,
            type: 'PUT',
            dataType: 'json',
            data: {
                'id': id,
                'residence':{{ residence_id }},
                'facility': $('#id_facility'+id).val(),
                'second_title': $('#id_second_title'+id).val(),
                'description': $('#id_description'+id).val(),
                'price': $('#id_price'+id).val(),
                'requestable': $('#id_requestable'+id).prop('checked'),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()

            },
            success:function(data) {
                $("#new_residence_message").html("<div class='alert alert-success'><a class='close' href='#' data-dismiss='alert'>×</a>{% trans 'Item added successfully!' %}</div>");
            },
            error: function(data) {
                $("#new_residence_message").html("<div class='alert alert-danger'><a class='close' href='#' data-dismiss='alert'>×</a>{% trans 'something is Wrong!' %}</div>");
            }
        });
    };
        {#    }#}
    </script>

    <script type="text/javascript">
{#    add rows to table for insert new item#}
        function add_facility() {
            var newRow = jQuery('<tr><form class="residence_facility">{% csrf_token %}');
            var counter = $(this).closest('tr').id;
            var cols = "";
            cols += '<td><label for="id_facility'+counter+'"></label><select class="form-control" id="id_facility'+counter+'" name="facility'+counter+'" >' +
                +'{% for facility in facilities %}'+
                    '<option value="{{ facility.id }}" >{{ facility.title }}</option>' +
                    '{% endfor %}' +
                '</select></td>';
            cols += '<td><label for="id_title'+counter+'"></label><input type="text" class="form-control" id="id_title'+counter+'" name="title'+counter+'" /></td>';
            cols += '<td><textarea cols="30" rows="3" id="id_description'+counter+'" name="description'+counter+'" class="form-control" /></td>';
            cols += '<td><label for="id_price'+counter+'"></label><input class="form-control" type="text" id="id_price'+counter+'" name="price'+counter+'"></td>';
            cols += '<td><label for="id_requestable'+counter+'" class="c-switch c-switch-label c-switch-pill c-switch-primary"><input class="c-switch-input" id="id_requestable'+counter+'" name="requestable'+counter+'" type="checkbox" checked=""><span class="c-switch-slider" data-checked="✓" data-unchecked="✕"></span></label></td>';
{#            cols += '<input type="hidden" name="id" id="id" value="'+ {{ item.id }} +'" />';#}
            cols += '<td><button class="ibtnDel btn btn-danger cil-trash"></button></td>';
            cols += '<td><button class="btn_add_new_facility btn btn-primary cil-save"/></td>';
            newRow.append(cols+'</form>');
            jQuery("table.dataTable").append(newRow);
        }
{#        # add delete function here#}
            jQuery(document).ready(function () {
                jQuery("table.dataTable").on("click", ".ibtnDel", function (event) {
                jQuery(this).closest("tr").remove();

        });
        });
        function delete_item(url, id) {

            var action = confirm("{% trans 'Are you sure you want to delete this facility residence?' %}");
            if (action != false) {
{#                var id = $('#id_facility_residence' + id).val();#}
                var residence = $('#id_residence' + id).val();
                $.ajax({
                    url: url,
                    type: 'DELETE',
                    data: {
                        'id': id,
                    },
                    dataType: 'json',
                    success: function (data, textStatus, jqXHR) {
                        if (jqXHR.status == "204") {
                            $("#dataTable #facility_" + id).remove();
                        }
                    }
                });
            }
        };
    </script>

{#    add facility to residence#}
    <script type="text/javascript">
        jQuery("table.dataTable").on("click", ".btn_add_new_facility", function (e) {
        e.preventDefault();
        var counter = $(this).closest('tr').attr('id');
        $.ajax({
            method: 'POST',
            url: '{% url "building:facility-residence-list" %}',
            dataType: 'json',
            data:{
                'residence':{{ residence_id }},
                'facility': $('#id_facility'+counter).val(),
                'second_title': $('#id_title'+counter).val(),
                'description': $('#id_description'+counter).val(),
                'price': $('#id_price'+counter).val(),
                'requestable': $('#id_requestable'+counter).val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()

            },
            success:function(data) {
                $("#new_residence_message").html("<div class='alert alert-success'><a class='close' href='#' data-dismiss='alert'>×</a>{% trans 'Item added successfully!' %}</div>");
            },
            error: function(data) {
                $("#new_residence_message").html("<div class='alert alert-danger'><a class='close' href='#' data-dismiss='alert'>×</a>{% trans 'something is Wrong!' %}</div>");
            }
        });
    });
    </script>

{#    end facility section#}
    {#    start residence section#}
    <script type="text/javascript">
         $(document).on('submit', '#edit_residence', function (e) {
            e.preventDefault();

            // or display message in form, etc...
            $.ajax({
                type: 'PUT',
                url: '{% url "building:residence-detail" residence_id %}',
                dataType: 'json',
                {#            contentType: 'application/json; charset=utf-8',#}
                data: {
                    'id': {{ residence_id }},
                    'parent_residence': $('#id_parent_residence').val(),
                    'manager': $('#id_manager').val(),
                    'name': $('#id_name').val(),
                    'type': $('#id_type').val(),
                    'address': $('#id_address').val(),
                    'rules': $('#id_rules').val(),
                    'appendix_to_statute': $('#id_appendix_to_statute').val(),
                    'coordinate.latitude': $('#id_latitude').val(),
                    'coordinate.longitude': $('#id_longitude').val(),
                    'coordinate_id': {{ residence.coordinate_id }},
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()

                },
                success: function () {
                    $("#new_residence_message").html("<div class='alert alert-success'><a class='close' href='#' data-dismiss='alert'>×</a>{% trans 'Item Edited successfully!' %}</div>");
                },
                error: function () {
                    $("#new_residence_message").html("<div class='alert alert-danger'><a class='close' href='#' data-dismiss='alert'>×</a>{% trans 'something is Wrongs!' %}</div>");
                }
            });

        });
    </script>

{% endblock c-script %}
