{% extends '../dashboard_base.html' %}{# in this Line, Parent of this Page will Define! #}
{% load static %}
{% block bodycontent %}
    <form class="form-horizontal">
    {% csrf_token %}
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="c-card-header">
                        <strong>Residence info</strong></div>
                    <div class="c-card-body">
                        <div class="form-group">
                            <label for="id_Name">Name</label>
                            <input type="text" class="form-control" id="id_Name" name="Name" required>
                        </div>
                        <div class="form-group">
                            <label for="id_coordinate">Coordinate points</label>
                            <input type="text" class="form-control" name="latitude" id="id_latitude" placeholder="Coordinate points"/>
                        </div>
                        <div class="form-group">
                            <label for="id_type">Select Type</label>
                            <select class="form-control" id="id_type" name="type">
                                <option>Apartment</option>
                                <option>Complex</option>
                                <option>Local Store</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="id_address">Address</label>
                            <textarea class="form-control" id="id_address" name="address" rows="1"
                                      placeholder="Address..." spellcheck="false"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="id_rules">Rules</label>
                            <textarea class="form-control" id="id_rules" name="rules" rows="1"
                                      placeholder="Rules.." spellcheck="false"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!--  Second Part  -->
            <div class="col-sm-6">

                <div class="card">
                    <div class="c-card-header">
                        <strong>Set Coordinate Points</strong></div>
                    <div class="c-card-body">
                        <br/>
                        <div id="map" class="map"></div>
                        <br/>
                        </div>

                    </div>
                </div>
        </div>
        <!-- third part of form -->
        <div class="row">
            <div class="col-lg-12">
<!-- Editable table -->
<div class="card">
    <div class="c-card-header">
                        <strong>Residence Facilities</strong></div>
  <div class="card-body">
    <div id="table" class="table-editable">
        <span class="table-add float-right mb-3 mr-2"><button class="c-btn c-btn-primary cil-plus" id="addrow" type="button"></button></span>
        <table id="dataTable" class="dataTable table table-bordered table-responsive-md table-striped text-center">

{#      <table class="table table-bordered table-responsive-md table-striped text-center">#}
            <thead>
<th>Facility</th>
<th>Title</th>
<th>Description</th>
<th>Price</th>
<th>Requestable</th>
<th>َAction</th>
</thead>
<tbody id="tbody" class="center">
</tbody>
      </table>
    </div>
  </div>
    <div class="c-card-footer">
        <button class="btn btn-lg btn-primary" type="submit"> Submit</button>
    </div>
</div>
<!-- Editable table -->
            </div>
        </div>
    </form>

{% endblock bodycontent %}
{% block c-script %}
{#    <script src="https://maps.googleapis.com/maps/js?key=AIzaSyCYCDv3Xc3H2HVpNdvps3tYmky2HWxeT_E&callback=myMap"></script>#}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
 <script type="text/javascript">
window.onload = function() {
    var latlng = new google.maps.LatLng(35.715298,51.404343);
    var map = new google.maps.Map(document.getElementById('map'), {
        center: latlng,
        zoom: 11,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    var marker = new google.maps.Marker({
        position: latlng,
        map: map,
        title: 'Set lat/lon values for this property',
        draggable: true
    });
    google.maps.event.addListener(marker, 'dragend', function (a) {
        console.log(a);
        var latitudes = document.getElementById('id_latitude');
        latitudes.value = a.latLng.lat().toFixed(4) + ', ' + a.latLng.lng().toFixed(4);
    });
};
</script>
    <script>
    jQuery(document).ready(function () {
        var counter = 1;
        jQuery("#addrow").on("click", function () {
            var newRow = jQuery("<tr>");
            var cols = "";
            cols +='<td><label for="id_parent_residences"></label><select class="form-control" id="id_parent_residences" name="parent_residences"><option>name 1</option> <option>name 2</option><option>name 3</option> </select>'
            cols += '<td><label for="id_title' + counter + '"></label><input type="text" class="form-control" id="id_title' + counter + '" name="title' + counter + '" /></td>';
            cols += '<td><textarea cols="30" rows="3" id="id_description' + counter + '" name="description' + counter + '" class="form-control" /></td>';
            cols += '<td><label for="id_price' + counter + '"></label><input class="form-control" type="text" id="id_price' + counter + '" name="price' + counter + '"></td>';
            cols += '<td><label for="id_requestable' + counter + '" class="c-switch c-switch-label c-switch-pill c-switch-primary"><input class="c-switch-input" id="id_requestable' + counter + '" name="requestable' + counter + '" type="checkbox" checked=""><span class="c-switch-slider" data-checked="✓" data-unchecked="✕"></span></label></td>';
            // cols += '<input type="hidden" name="counter" value="'+ counter +'" />';
            cols += '<td><button class="ibtnDel c-btn c-btn-danger cil-trash"></button></td>';
            newRow.append(cols);
            jQuery("table.dataTable").append(newRow);
            counter++;

        });
        jQuery("table.dataTable").on("click", ".ibtnDel", function (event) {
            jQuery(this).closest("tr").remove();
            counter -= 1
        });


    });

{#</script>#}
    </script>
{% endblock c-script %}