{% extends '../dashboard_base.html' %}{# in this Line, Parent of this Page will Define! #}
{% load static i18n %}
{% block bodycontent %}
    <div class="row">
    <div class="card container">
        <div class="card-header"><h3>All Residence</h3></div>
  <div class="card-body">
<form>
  <div class="form-row">
    <div class="col-md-4 mb-3 form-group">
      <label for="id_Name">Name</label>
      <input type="text" class="form-control" id="id_Name" name="Name">
    </div>
    <div class="col-md-4 mb-3 form-group">
    <label for="id_Type">Select Type</label>
    <select class="form-control" id="id_Type" name="Type">
      <option>Apartment</option>
      <option>Complex</option>
      <option>Local Store</option>
    </select>
    </div>
    <div class="col-md-4 mb-3 form-group">
      <label for="id_Adress">Address</label>
      <input type="text" class="form-control" id="id_Adress" name="Adress">
    </div>
  </div>

  <button class="btn btn-primary" type="submit">Filter</button>
</form>
      <hr/>
      <!-- start table part -->
      <table class="table table-responsive-sm table-hover table-outline mb-0">
  <thead class="thead-light">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Address</th>
      <th scope="col">CoordinatePoint</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Yas</td>
      <td>Apartment</td>
      <td>SattarKhan</td>
      <td>0.05987,0.07659</td>
      <td><a class="btn btn-success" href="#" alt="show">
        <svg class="c-icon">
        <use href="{% static '@coreui/icons/sprites/free.svg#cil-magnifying-glass' %}"></use>
        </svg></a>&nbsp;<a class="btn btn-info" alt="edit" href="#">
        <svg class="c-icon">
        <use href="{% static '@coreui/icons/sprites/free.svg#cil-description' %}"></use>
        </svg></a>&nbsp;<a class="btn btn-danger" alt="delete" href="#">
        <svg class="c-icon">
        <use href="{% static '@coreui/icons/sprites/free.svg#cil-trash' %}"></use>
        </svg></a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Fredows</td>
      <td>Apartment</td>
      <td>Towhid</td>
      <td>0.05987,0.07659</td>
        <td><a class="btn btn-success" href="#" alt="show">
        <svg class="c-icon">
        <use href="{% static '@coreui/icons/sprites/free.svg#cil-magnifying-glass' %}"></use>
        </svg></a>&nbsp;<a class="btn btn-info" alt="edit" href="#">
        <svg class="c-icon">
        <use href="{% static '@coreui/icons/sprites/free.svg#cil-description' %}"></use>
        </svg></a>&nbsp;<a class="btn btn-danger" alt="delete" href="#">
        <svg class="c-icon">
        <use href="{% static '@coreui/icons/sprites/free.svg#cil-trash' %}"></use>
        </svg></a></td>
    </tr>
   <tr>
      <th scope="row">3</th>
      <td>Fredows3</td>
      <td>Apartment</td>
      <td>Enghelab</td>
      <td>0.05987,0.07610</td>
         <td><a class="btn btn-success" href="#" title="show">
        <svg class="c-icon">
        <use href="{% static '@coreui/icons/sprites/free.svg#cil-magnifying-glass' %}"></use>
        </svg></a>&nbsp;<a class="btn btn-info" title="edit" href="#">
        <svg class="c-icon">
        <use href="{% static '@coreui/icons/sprites/free.svg#cil-description' %}"></use>
        </svg></a>&nbsp;<a class="btn btn-danger" title="delete" href="#">
        <svg class="c-icon">
        <use href="{% static '@coreui/icons/sprites/free.svg#cil-trash' %}"></use>
        </svg></a></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Fredows2</td>
      <td>Apartment</td>
      <td>Towhid</td>
      <td>0.08487,0.07659</td>
         <td><a class="btn btn-success" href="#" title="show">
        <svg class="c-icon">
        <use href="{% static '@coreui/icons/sprites/free.svg#cil-magnifying-glass' %}"></use>
        </svg></a>&nbsp;<a class="btn btn-info" title="edit" href="#">
        <svg class="c-icon">
        <use href="{% static '@coreui/icons/sprites/free.svg#cil-description' %}"></use>
        </svg></a>&nbsp;<a class="btn btn-danger" alt="delete" href="#">
        <svg class="c-icon">
        <use href="{% static '@coreui/icons/sprites/free.svg#cil-trash' %}"></use>
        </svg></a></td>
    </tr>
  </tbody>
</table><hr/>
      <!-- Pagination -->
      <nav aria-label="Page navigation example">
<ul class="pagination justify-content-center">
<li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
<li class="page-item"><a class="page-link" href="#">1</a></li>
<li class="page-item"><a class="page-link" href="#">2</a></li>
<li class="page-item"><a class="page-link" href="#">3</a></li>
<li class="page-item"><a class="page-link" href="#">Next</a></li>
</ul>
</nav>
    </div>
    </div>
    </div>
{% endblock bodycontent %}
