{% extends '../dashboard_base.html' %}{# in this Line, Parent of this Page will Define! #}
{% load static i18n %}
{% block bodycontent %}
    <div id="new_unit_message"></div>
    {#    {{ request_type }}#}
    {% if request_type == 'edit' %}
        <form class="form-horizontal" id='edit_unit'>
        {#    {% elif request_type == 'new' %}#}
        {#        <form class="form-horizontal" id='new_block'>#}
    {% else %}
        <form class="form-horizontal" id='show_unit'>
    {% endif %}

{% csrf_token %}

{% include "../../dashboard_pages/units/form/unit_form.html" %}
</form>

{% endblock bodycontent %}
{% block c-script %}
    {% if request_type == 'show' %}
        <script type="text/javascript">
            $('#show_unit input').attr('disabled', true);
            $('#show_unit textarea').attr('disabled', true);
            $('#show_unit select').attr('disabled', true);
            $('#show_unit #unit_btn').attr('type', 'submit').remove();

        </script>
    {% endif %}

    <script type="text/javascript">

        {#    if (request_type == 'edit'){#}
        $(document).on('submit', '#edit_unit', function (e) {
            e.preventDefault();
            // or display message in form, etc...
            $.ajax({
                type: 'PUT',
                url: '{% url "building:unit-detail" unit.id %}',
                dataType: 'json',
                {#            contentType: 'application/json; charset=utf-8',#}
                data: {
                    residence: $('#id_residence').val(),
                    area: $('#id_area').val(),
                    population: $('#id_population').val(),
                    {#                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()#}

                },
                success: function () {
                    $("#new_unit_message").html("<div class='alert alert-success'><a class='close' href='#' data-dismiss='alert'>×</a>{% trans 'Item Edited successfully!' %}</div>");
                },
                error: function () {
                    $("#new_unit_message").html("<div class='alert alert-danger'><a class='close' href='#' data-dismiss='alert'>×</a>{% trans 'something is Wrongs!' %}</div>");
                }
            });

        });
        {#    }#}
    </script>

{% endblock c-script %}