{% extends '../dashboard_base.html' %}{# in this Line, Parent of this Page will Define! #}
{% load static i18n %}
{% block bodycontent %}
    <div id="new_bill_message"></div>
    <form class="form-horizontal" id='new_bill'>

        {% csrf_token %}
        {% include "../../dashboard_pages/bill/form/bill_form.html" %}
    </form>
{% endblock bodycontent %}
{% block c-script %}
    <script type="text/javascript">
        $(document).on('submit', '#new_bill', function (e) {
        e.preventDefault();
        $.ajax({
            method: 'POST',
{#            url: '{% url "building:bill-list" %}',#}
            dataType: 'json',
            data:{
                'title': $('#id_title').val(),
                'description': $('#id_description').val(),
                'type': $('#id_type').val(),
            },
            success:function(data) {
                $("#new_bill_message").html("<div class='alert alert-success'><a class='close' href='#' data-dismiss='alert'>×</a>{% trans 'Item added successfully!' %}</div>");
            },
            error: function(data) {
                $("#new_bill_message").html("<div class='alert alert-danger'><a class='close' href='#' data-dismiss='alert'>×</a>{% trans 'something is Wrong!' %}</div>");
            }
        });
    });
    </script>
{% endblock c-script %}