{% extends '../../dashboard_base.html' %}{# in this Line, Parent of this Page will Define! #}
{% load static i18n %}
{% block bodycontent %}
    <div class="row">
        <div class="card container">
            <div class="card-header"><h3>{% trans 'All Unit Phone Numbers' %}</h3>
</div>
            <div class="card-body">
                <form id="search_unit_phone_number" enctype='application/json'>
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-5 mb-3 form-group">
                            <label for="id_second_title_search">{% trans 'Phone' %}</label>
                            <input type="text" class="form-control" id="id_phone_search" name="phone_search">
                        </div>
                    </div>

                    <button class="btn btn-primary" type="submit">{% trans 'Filter' %}</button>
                </form>
                <hr/>
            <p>
              <a class="btn btn-primary collapsed btn-block-add" href="{%  url 'building:new_phone_number_page' unit_id=unit_id %}">{% trans 'Add New phone number' %}</a>
            <br/>
            </p>
                <!-- start table part -->
                <table id="phone_number_table" class="table table-responsive-sm table-hover table-outline mb-0">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">{% trans 'id' %}</th>
                        <th scope="col">{% trans 'Phone' %}</th>
                        <th scope="col">{% trans 'Description' %}</th>
                        <th scope="col">{% trans 'Actions' %}</th>
                    </tr>
                    </thead>
                    <tbody>
{% if data %}
    {% for phone_number in data %}
        <tr id="phone_number{{ phone_number.id }}">
            <th scope="row">{{ phone_number.id }}</th>
{#            <td>{{ phone_number.type }}</td>#}
                        <td>{{ phone_number.phone }}</td>
                        <td>{{ phone_number.description }}</td>
            <td>
                <a class="btn btn-success" href="{% url "building:show_phone_number_page" unit_id=unit_id id=phone_number.id %}"
                   title="{% trans 'show' %}">
                            <svg class="c-icon">
                                <use href="{% static '@coreui/icons/sprites/free.svg#cil-magnifying-glass' %}"></use>
                            </svg>
                </a>&nbsp;<a class="btn btn-info" title="{% trans 'edit' %}"
                             href='{% url "building:edit_phone_number_page" unit_id=unit_id id=phone_number.id %}'>
                            <svg class="c-icon">
                                <use href="{% static '@coreui/icons/sprites/free.svg#cil-description' %}"></use>
                            </svg>
            </a>&nbsp;
               <button onclick="delete_item('{% url "building:phone-number-detail" phone_number.id %}',{{ phone_number.id }})"
                                        class="btn btn-danger" title="{% trans 'delete' %}">
                            <svg class="c-icon">
                                <use href="{% static '@coreui/icons/sprites/free.svg#cil-trash' %}"></use>
                            </svg>
                        </button></td>
                    </tr>
             {% endfor %}
         {% else %}
        <tr><td class="text-center" colspan="100%">
            {% trans 'No phone_number ...' %}
        </td></tr>
            {% endif %}
                    </tbody>
                </table>
                <hr/>
                <!-- Pagination -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled"><a class="page-link" href="#"
                                                          tabindex="-1">{% trans 'Previous' %}</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">{% trans 'Next' %}</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock bodycontent %}
{% block c-script %}
    <script type="text/javascript">
    {#    send search form items with json#}
    $(document).on('submit','#search_phone_number',function (e) {
        e.preventDefault();
        $.ajax({
            type:'POST',
{#            url: '{% url "building:phone_number_manage_page" %}',#}
{#            dataType: 'json',#}
{#            contentType: 'application/json; charset=utf-8',#}
            data:{
                phone:$('#id_phone_search').val(),
{#                title: $('#id_title_search').val(),#}
{#                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()#}

            },
            success:function() {
            }
        });
    });
    </script>
    <script type="text/javascript">
        function delete_item(url, id) {

            var action = confirm("{% trans 'Are you sure you want to delete this phone number ?' %}");
            if (action != false) {
    $.ajax({
        url: url,
        type: 'DELETE',
        data: {
            'id': id,
        },
        dataType: 'json',
        success: function (data, textStatus, jqXHR) {
            if (jqXHR.status == "204") {
                $("#phone_number_table #phone_number" +id).remove();
            }
        }
    });
  }
        };
    </script>
{% endblock c-script %}