{% extends '../dashboard_base.html' %}{# in this Line, Parent of this Page will Define! #}
{% load static i18n %}
{% block bodycontent %}
    <div class="row">
        <div class="card container">
            <div class="card-header"><h3>{% trans 'All facilities' %}</h3></div>
            <div class="card-body">
                <form id="search_facility" enctype='application/json'>
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-5 mb-3 form-group">
                            <label for="id_type_search">{% trans 'Residence Type' %}</label>
                            <select class="form-control" id="id_type_search" name="residence_type_search">
                                <option defualt></option>
                                <option value="Residence">{% trans 'Residence' %}</option>
                                <option value="Block">{% trans 'Block' %}</option>
                                <option value="Unit">{% trans 'Unit' %}</option>
                                <option value="ALL">{% trans 'ALL' %}</option>
                            </select>
                        </div>
                        <div class="col-md-5 mb-3 form-group">
                            <label for="id_title_search">{% trans 'Title' %}</label>
                            <input type="text" class="form-control" id="id_title_search" name="title_search">
                        </div>
                    </div>

                    <button class="btn btn-primary" type="submit">{% trans 'Filter' %}</button>
                </form>

<p>
              <a class="btn btn-primary collapsed btn-block-add" href="{%  url 'building:new_facility_page' %}">{% trans 'Add New Facility' %}</a>
            <br/>
            </p>
                <hr/>
                <!-- start table part -->
                <table id="facility_table" class="table table-responsive-sm table-hover table-outline mb-0">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">{% trans 'id' %}</th>
                        <th scope="col">{% trans 'Type' %}</th>
                        <th scope="col">{% trans 'Title' %}</th>
                        <th scope="col">{% trans 'Description' %}</th>
                        <th scope="col">{% trans 'Actions' %}</th>
                    </tr>
                    </thead>
                    <tbody>
{#                    all facility rows in facility table will access by data#}
{% if data %}
    {% for facility in data %}
        <tr id="facility_{{ facility.id }}">
            <th scope="row">{{ facility.id }}</th>
            <td>{{ facility.type }}</td>
                        <td>{{ facility.title }}</td>
                        <td>{{ facility.description }}</td>
            <td>
                <a class="btn btn-success" href="{% url "building:show_facility_page" id=facility.id %}"
                   title="{% trans 'show' %}">
                            <svg class="c-icon">
                                <use href="{% static '@coreui/icons/sprites/free.svg#cil-magnifying-glass' %}"></use>
                            </svg>
                </a>&nbsp;<a class="btn btn-info" title="{% trans 'edit' %}"
                             href='{% url "building:edit_facility_page" id=facility.id %}'>
                            <svg class="c-icon">
                                <use href="{% static '@coreui/icons/sprites/free.svg#cil-description' %}"></use>
                            </svg>
            </a>&nbsp;<button class="btn btn-danger" title="{% trans 'delete' %}"
                              onclick="delete_item('{% url "building:facility-detail" facility.id %}',{{ facility.id }})">
                            <svg class="c-icon">
                                <use href="{% static '@coreui/icons/sprites/free.svg#cil-trash' %}"></use>
                            </svg>
                        </button></td>
                    </tr>
             {% endfor %}
         {% else %}
        <tr><td class="text-center" colspan="100%">
            {% trans 'No Facility ...' %}
        </td></tr>
            {% endif %}
                    </tbody>
                </table>
                <hr/>
                <!-- Pagination -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled"><a class="page-link" href="#"
                                                          tabindex="-1">{% trans 'Previous' %}</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">{% trans 'Next' %}</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock bodycontent %}
{% block c-script %}
    <script type="text/javascript">
    {#    send search form items with json#}
    $(document).on('submit','#search_facility',function (e) {
        e.preventDefault();
        $.ajax({
            type:'POST',
            url: '{% url "building:facility_manage_page" %}',
{#            dataType: 'json',#}
{#            contentType: 'application/json; charset=utf-8',#}
            data:{
                type:$('#id_type_search').val(),
                title: $('#id_title_search').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()

            },
            success:function() {
            }
        });
    });
    </script>
    <script type="text/javascript">
        function delete_item(url, id) {

            var action = confirm("{% trans 'Are you sure you want to delete this facility?' %}");
            if (action != false) {
    $.ajax({
        url: url,
        type: 'DELETE',
        data: {
            'id': id,
        },
        dataType: 'json',
        success: function (data, textStatus, jqXHR) {
            if (jqXHR.status == "204") {
                $("#facility_table #facility" + id).remove();
            }
        }
    });
  }
        };
    </script>
{% endblock c-script %}